<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    
    
    
      
    
  </ion-toolbar>
</ion-header>
<app-menu (messageToEmit)="getThemeSignal($event)"></app-menu>

<ion-content id="screen">
  <ion-list>
    <ion-item>
      <ion-avatar>
        <img src="../../assets/img/user/jelelfliss.jpg" >
      </ion-avatar>
      <ion-text padding> Jelel Fliss </ion-text>
    </ion-item>

  </ion-list>

</ion-content>
