<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button>
          </ion-menu-button>
        </ion-buttons>
    <ion-title>Members</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list no-padding >
    <ion-item *ngFor="let member of loadedMembers" lines="none">
      <div class="borderBottomLine"></div>
      <div class="listSection">
        <div class="UserimgSection">
          <ion-avatar class="chatImage" slot="start">
            <ion-img [src]="member.img"></ion-img>
            <span class="onlineOffline_icon" [ngStyle]="{'background-color':(member.status === 'online' ? '#4cd137' : '#c23616')}"></span>
          </ion-avatar>
        </div>
        <div class="usernameSection" padding-start padding>
          <h5>
            {{ member.name }}
          </h5>
        </div>
      </div>
     
      <div slot="end" class="lastSection">
          <ion-button (click)="sendMessage(member.id)">Message</ion-button>
      </div>
    </ion-item>
  </ion-list>







</ion-content>
