<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button>
            
          </ion-menu-button>
        </ion-buttons>
    <ion-title>Channels</ion-title>
    <ion-buttons slot="end" padding-start>
        <ion-icon name="add"  class="fontSize" (click)="addChannel()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment>
    <ion-segment-button value="all" checked>All Channels</ion-segment-button>
    <ion-segment-button value="self">My Channels</ion-segment-button>
  </ion-segment>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-virtual-scroll [items]="loadedChannels" approxItemHeight="70px">
          <ion-item  [routerLink]="['/', 'user', 'channels', channel.id ]" detail *virtualItem="let channel">
            <ion-label>
              <h2>{{ channel.name }}</h2>
            </ion-label>
          </ion-item>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>

