<ion-menu side="start" menuId="first" class="theme" id="menu">
    <ion-header>
        <ion-toolbar>
            <div padding>
                <img src="../../../assets/img/thumbnail.png">
            </div>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-row class="avatar-row" justify-content-center>
                <ion-avatar style="width: 130px; height: 130px;">
                    <img src="../../../assets/img/user/user2.jpg" >
                </ion-avatar>
            </ion-row>
            <ion-row class="theme-selector" justify-content-center>
                    <ion-icon class="theme-btn" name="moon" (click)="sendMessageToParent('dark')" padding></ion-icon>  
                    <ion-icon class="theme-btn" name="sunny" (click)="sendMessageToParent('light')" padding></ion-icon>
            </ion-row>

            <ion-item href="/">
                <ion-icon name="home" color="auto" padding></ion-icon>Home
            </ion-item>

            <ion-item href="/channels">
                <ion-icon name="globe" color="auto" padding></ion-icon>Channels
            </ion-item>
            <ion-item href="/users">
                <ion-icon name="person" color="auto" padding></ion-icon>Users
            </ion-item>
            <ion-item href="/agenda">
                <ion-icon name="calendar" color="auto" padding></ion-icon>Agenda
            </ion-item>

            <ion-item>
                <ion-icon name="log-out" color="auto" padding></ion-icon>Log Out
            </ion-item>
            
            

        </ion-list>
    </ion-content>
</ion-menu>



<ion-router-outlet main></ion-router-outlet>