

<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    
    
    
      
    
  </ion-toolbar>
</ion-header>
<app-menu (messageToEmit)="getThemeSignal($event)"></app-menu>

<ion-content id="screen">
  <ion-slides pager="true">
    <ion-slide>
      <ion-grid>
        <ion-row>         
          <ion-col align-self-center >
              <h1>Club des Logiciels Libres</h1>
          </ion-col>         
        </ion-row>
        <ion-row>      
          <ion-col align-self-center><img src="../../assets/img/cllfst.png" class="cll_logo"></ion-col>        
        </ion-row>
        <ion-row>
            <ion-col align-self-center>
                <p padding>CLL : Club des Logiciels Libres :
                    au sein de la faculté des sciences
                    fondé en, Mars 2004, ayant pour
                    objectif, l'encouragement et
                    l'initiation des étudiants à
                    l'utilisation des logiciels libres et à
                    propager la philosophie du libre.</p>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>     
          <ion-col align-self-center >
              <h1>Events : KEY & JLL</h1>
          </ion-col>     
        </ion-row>
        <ion-row>     
          <ion-col align-self-center>
            <img src="../../assets/img/Key&Jll.png" class="slide">
          </ion-col>     
        </ion-row>
        <ion-row>
            <ion-col align-self-center>
                <p padding>Le CLL organise 2 évènements au cours de l'année :
                  Keep Extending Yourself, évènement socio-culturel
                  KEY et la Journée des Logiciels Libres, JLL qui présente des 
                  ateliers et des conférences sur les technologies informatiques 
                  et open source.

                </p>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row>
          
          <ion-col align-self-center >
              <h1>Projets & Ateliers</h1>
          </ion-col>
          
        </ion-row>
        
        <ion-row>
          
          <ion-col align-self-center><img src="../../assets/img/project.png" class="slide"></ion-col>
          
        </ion-row>

        <ion-row>
            <ion-col align-self-center>
                <p padding>CLL, le Club des Logiciels Libres, organise tout au long 
                  de l'année des ateliers présentées par les membres seniors et des 
                  formateurs externes pour présenter et introduire aux membres 
                  des différentes technologies et logiciels "open source".</p>
            </ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-slide>
  </ion-slides>

</ion-content>