.slide{
  height: 150px;
  width: 150px;
}


.my-custom-menu {
    --width: 500px;
  }

.cll_logo{
  height: 120px;
  width: 250px;
}

.slide_small{
  height: 80px;
  width: 80px;
  
}

p{
  font-size: 12px;
  text-align: justify
}
// Wheel Animation


  
  
  
