.bg-image{
    height: 100%;
    width: 100%;
    background-image: url('../../../../assets/images/skyline.jpg');
    background-size: cover;
    background-position: center;
    padding: 60px 15px 55px 15px;
    overflow: scroll;
}
.custom-footer-row{
    height: 65px;
}
.bg-image-X{
    padding: 80px 15px 75px 15px;
}